.main-content
  float left
  width 400px


header
  padding 80px 10px
  color #0d0d0d
  font-size 28px
  text-align center

footer
  width 500px
  margin 50px auto
  border-top 1px dotted #eeee
  padding-top 5px
  font-size 14px